{
    "debug": false,
    "bot": {
        "token": "",
        "token_demo": ""
    },
    "database": {
        "url": "mysql+pymysql://?charset=utf8mb4&binary_prefix=true",
        "url_demo": "mysql+pymysql://?charset=utf8mb4&binary_prefix=true",
        "create": false
    }
}
